<h1>Détail of tool</h1>

<p><strong>Name:</strong> <%= @tool.name %></p>
<p><strong>Detail:</strong> <%= @tool.detail %></p>
<p><strong>Price:</strong> <%= @tool.price %></p>

<%= link_to "Back", tools_path %>
