


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.leparisien.fr/resizer/_8-BFmHD6RyHErlX8wJ1IiXsFDM=/932x582/cloudfront-eu-central-1.images.arcpublishing.com/lpguideshopping/6FM2T63Q3NDPVJWUPLY7DFKRGY.jpg);">
  <div class="container">
    <h1>Need a tool ?</h1>
    <p>Come and discover our tool offers presented by your neighbors</p>
    <a class="btn btn-gradient" href="#">Start now</a>
  </div>
</div>
