.tool-details {
  font-family: 'Arial', sans-serif;
  color: #333;
  padding: 20px;
  background: #fafafa;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;

  &__title {
      text-align: center;
      color: #007BFF;
      margin-bottom: 30px;
      text-transform: uppercase;
      letter-spacing: 2px;
  }

  &__info {
      &-item {
          margin-bottom: 10px;
      }

      &-label {
          font-weight: bold;
          margin-right: 5px;
      }
  }

  &__button {
      display: block;
      text-align: center;
      background: linear-gradient(to right, #007BFF, #00C6FF);
      color: white;
      padding: 15px 20px;
      margin: 20px auto;
      text-decoration: none;
      border-radius: 50px;
      transition: all 0.3s ease;
      width: 200px;
      box-shadow: 0px 13px 24px -7px #00C6FF;
      cursor: pointer;
      &:hover {
          transform: translateY(-5px);
      }
  }

  &__gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 30px;

      &-item {
          margin: 10px;
      }

      &-image {
          border-radius: 10px;
          transition: all 0.3s ease;
          &:hover {
              transform: scale(1.03);
              box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.3);
          }
      }
  }

  &__back-button {
      background: linear-gradient(to right, #FA8BFF, #2BD2FF, #2BFF
      )
  }
}
